.sidebar-container {
  width: 280px;
  min-height: 100vh; /* Ocupa toda la altura vertical */
  height: 100%;
  position: sticky;
  top: 0;
  box-shadow: 4px 0 10px rgba(0,0,0,0.1);
}

/* Efecto hover en los links */
.nav-pills .nav-link {
  border-radius: 8px;
  transition: all 0.2s;
  font-weight: 500;
  margin-bottom: 5px;
}

.nav-pills .nav-link:hover {
  background-color: rgba(255, 255, 255, 0.1);
  transform: translateX(5px); /* Pequeño movimiento a la derecha */
}

/* Color del link activo (Donde estás actualmente) */
.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  background-color: #0d6efd; /* Azul Bootstrap */
  box-shadow: 0 4px 6px rgba(13, 110, 253, 0.4);
}

/* Iconos un poco más grandes */
.bi {
  font-size: 1.2rem;
  vertical-align: text-bottom;
}